node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.local
.env.*.local
README.md
LICENSE
uploads
.DS_Store
.ideaache
.eslintcache
.prettierignore
coverage
test
jest.config.js
tsconfig.spec.json
.editorconfig
.husky
.zencoder
.zenflow
.github/workflows
documents
ignore
